*{
  padding: 0;
  margin: 0;

}
#style13{
margin: 0 auto;
text-align: center;
padding: 70px;

color: rgb(27, 0, 5);
font-size: 40px;
background-color:white;
height: 1500px;
} 

#paragra{
background-color: blue;
padding: 53px;
background-attachment: fixed;
width: 69.6%;

}
h1{
background-color: aqua;
padding: 50px;
width: 70%;

}


  h3{

color: red;



  }  








img{

border: solid 5px yellowgreen;



}









.redColor{
    color: rgb(255, 0, 0);



}









.text_para{

color: white;

font-size: 24px;
font-family: verdana;
padding: 150px;



}
h4{
background-color: greenyellow;
color: green;
padding: 60px;
}
.mario{
color: red;





}
a{
text-decoration: none;
color: inherit;







}
.mario_color{
color: red;











}
a:hover{
color: purple;
text-decoration: underline;






}
li{
display: inline-block;
padding-left: 25px;






}
ul{
float: right;
padding-top: 1px;


}





.color4{
color: yellowgreen;
background-color: mediumspringgreen;



}
#sideBAR{





  background-color: red;
  border: solid 2px black;
  float: right;
  width: 23%;
  height: 258.9%;
}
#grag1{
  
  height: 350px;
  
    padding: 150px;
   font-size: 55px;
   width: 67.2%;
background-color: lime;


}

h5{
background-color: yellow;
padding: 0;




}

